
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<li>@Html.ActionLink("Тарифы", "Tax", "Tax")</li>
<li>@Html.ActionLink("Страхователи", "Insurant", "Insurant")</li>
<li>@Html.ActionLink("Агенты", "Agent", "Agent")</li>
<li>@Html.ActionLink("Договора", "Contract", "Contract")</li>
<li>@Html.ActionLink("Страховые случаи", "InsuranceCase", "InsuranceCase")</li>