@{
    ViewBag.Title = "Agent";
}

<h2>Agent</h2>

<li>@Html.ActionLink("Личный кабинет", "ViewAgent", "PersArea")</li>
<li>@Html.ActionLink("Страхователи", "Insurant", "Insurant")</li>
<li>@Html.ActionLink("Договора", "Contract", "Contract")</li>
<li>@Html.ActionLink("Мои договора", "AgentContract", "PersArea")</li>
<li>@Html.ActionLink("Страховые случаи", "InsuranceCase", "InsuranceCase")</li>