@model IEnumerable<WebApplication1.Models.Agency.InsuranceCase>

@{
    ViewBag.Title = "InsurantCase";
}

<h2>Страховой случай</h2>

<table class="table">
    <tr>
        <th>
            Договор (серия и нормер)
        </th>
        <th>
            Описание
        </th>
        <th>
            Страхователь
        </th>
        <th>
            Номер телефона
        </th>
        <th>
            Дата регистрации заявки
        </th>
        <th>
            Дата окончания заявки
        </th>
        <th>
            Статус
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @item.Insurant1.name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datestart, "Date")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datestop, "Date")
        </td>
        <td>
            @item.Status1.title
        </td>
    </tr>
}

</table>
