@model IEnumerable<WebApplication1.Models.Agency.Contract>

@{
    ViewBag.Title = "InsurantContract";
}

<h2>Договора</h2>

<table class="table">
    <tr>
        <th>
            Серия
        </th>
        <th>
            Номер
        </th>
        <th>
            Страхователь
        </th>
        <th>
            Агент
        </th>
        <th>
            Тариф
        </th>
        <th>
            Дата
        </th>
        <th>
            Коэффициент
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Статус
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @item.Insurant1.name
            </td>
            <td>
                @item.Agent1.fio
            </td>
            <td>
                @item.Tax1.name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date, "Date")
            </td>
            <td>
                @item.Coef1.value
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @item.Status1.title
            </td>
        </tr>
    }

</table>