@model IEnumerable<WebApplication1.Models.Tax>

@{
    ViewBag.Title = "Tax";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <h1>
        @Html.DisplayFor(modelItem => item.name)
    </h1>
    <p>
        @Html.DisplayFor(modelItem => item.title)
    </p>
    
    <p>
        @Html.DisplayFor(modelItem => item.property)
    </p>
    <h3>
        @Html.DisplayFor(modelItem => item.price)
    </h3>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </p>
}
