@model IEnumerable<WebApplication1.Models.Agency.Contract>

@{
    ViewBag.Title = "Contract";
}

<h2>Договор</h2>

@using (Html.BeginForm())
{
    <p>
         Поиск серии: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Серия
        </th>
        <th>
            Номер
        </th>
        <th>
            Страхователь
        </th>
        <th>
            Агент
        </th>
        <th>
            Тариф
        </th>
        <th>
            Дата
        </th>
        <th>
            Коэффициент
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Статус
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @item.Insurant1.name
            </td>
            <td>
                @item.Agent1.fio
            </td>
            <td>
                @item.Tax1.name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date, "Date")
            </td>
            <td>
                @item.Coef1.value
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @item.Status1.title
            </td>

            @if (User.IsInRole("Admin") || User.IsInRole("Agent"))
            {
                <td>
                    @Html.ActionLink("Изменить статус", "EditStatus", new { id = item.id }) |
                    @Html.ActionLink("Редактировать", "EditContract", new { id = item.id })
                </td>
            }
        </tr>
    }

</table>
